html,
body, 
#root,
.App,
.Page { 
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Page {
  color: #ffffff;
  font-size: 14px;
  background-color: #282c34;

  padding-top: 35px;
}

.Sketchpad {
  border: 1px solid #ffffff;
  width: 610px;
  height: 610px;

  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}


.Menu {
  background-color: #282c34;
  padding: 7px;
}

.Menu a {
  color: #ffffff;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
